<div class="row">
  <h1>All Queries</h1>
  <% @queries.each do |query| %>
    <p><%= link_to query.content, root_path(query: query.content) %> - <%=time_ago_in_words(query.created_at) %> ago</p>
  <% end %>
</div>
